# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment folders
venv/
.env/
env/
# Ignore VS Code settings folder
.vscode/

# Ignore dotenv file (if you have sensitive info)
.env
