langchain
#ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
Wikipedia
langchain_google_genai
langchain_google_vertexai
chromadb
langchain_huggingface
sentence_transformers
faiss-cpu
langchain_chroma